/node_modules
/day 1/simple-api-routes/node_modules
/day 2/simple-api-routes/node_modules
day 2/simple-api-middleware/node_modules
day 3/exercise/node_modules
day 4/api-db2/node_modules
day 4/exercise/node_modules
day 6/api-instagram/node_modules
day 8/clone-assc/swagger-express/node_modules
day 8/ORM2/node_modules

day 8/netflix-api/node_modules
day 9/exercise/node_modules
day 9/api-instagram-sequelize/node_modules

day 10/auth/node_modules